.cartreward{
    /* margin-bottom: 300px; */
    background-color: #4B997D;
    padding: 15px 115px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.cartreward-1{
    display: flex;
    align-items: center;
    gap: 6px;
   
}
.cartreward p{
    color:rgb(249, 249, 249);
    font-size: 11px;
    font-weight: 600;
}
.cartreward-1 p{
    color:rgb(249, 249, 249);
    font-size: 14px;
    font-weight: 700;
}
