*{
    padding: 0;
    margin: 0;
    font-family:"Montserrat";
}
.barista{
    padding: 35px 0px;
    background-color: #EDEBE9;
    background-image: url("https://www.starbucks.in/assets/icon/greyleafright.svg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 55px;
}
.barista-1{
    display: flex;
    justify-content: space-between;
    margin:0px 115px;
    /* background-color: red; */
    align-items: center;
}
.barista-1 h1{
    color: rgb(30, 57, 50);
    font-size: 23px;
    font-weight: 700;
}
.barista-1 p{
    color:rgb(0, 117, 74);
    font-size: 13px;
    font-weight: 600;
cursor: pointer;
}

.barista-2{
    background-color:white;
    margin:30px 128px ;
    width: 300px;
    height: 142px;
    padding: 16px 21px 0px 21px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 9px;
    cursor: pointer;
}
.barista-s1{
    display: flex;
    gap: 15px;
}
.barista-s1 img{
    width: 75px;
    height: 80px;
    border-radius: 9px;
}
.barista-inner img{
    width: 16px;
    height: 16px;
    border-radius: 0px;

}
.barista-inner h1{
    font-size: 13px;
    font-weight: 600;
    color: black;
}
.barista-inner p{
    font-size: 8px;
    font-weight: 400;
    color:rgba(33, 37, 41, 0.75);

}
.barista-s2{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.barista-s2 p{
     font-weight: 600;
    font-size: 13px;
    color: black;
}
.barista-s2 button{
    font-weight: 600;
    font-size: 11px;
    color: rgb(255,255,255);
    background-color: #00754A;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 15px;
}
.barista-s2 button:hover{
    background-color: #1E3932;
}