.productpage{
    background-color: red;
     position: relative;
}
.productpage-img{
    width: 100%;
    height:320px;
}
.productpage-else{
    color: white;
    font-size: 28px;
    font-weight: 600;
    cursor: pointer;
    padding-left: 100px;
}
.productpage-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.productpage-customize{
    /* background-color: aqua; */
    position: absolute;
    width: 100%;
    top: 0;
}
.productpage-info{
    /* background-color: aqua; */
    padding-left: 115px;
    /* width: 100%; */
    height: 284px;
    /* display: none; */
}
.productpage-info h1{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 700;
    cursor: pointer;
}
.productpage-summary{
    color:rgb(255, 255, 255);
    font-weight: 400;
    font-size: 14px;
    /* background-color: green; */
    width: 91%;
}
.productpage-content{
    display: flex;
    align-items: center;
    color: white;
    gap: 15px;
}
.productpage-content li{
list-style: none;
display: flex;
align-items: center;
gap: 6px;
}
.productpage-content img{
    width: 14px;
    filter: brightness(530%);
}
.productpage-content p{
    color: rgb(255, 255, 255);
    font-size: 11px;
    font-weight: 400;
}
.productpage-expand{
    position: relative;
    left: 88%;
    cursor: pointer;
    top:3%;
}
.productpage-start span{
color: rgb(255, 255, 255);
font-size: 10px;
font-weight: 500;
}

.productpage-topping{
    background-color: blue;
    width: 100%;
     border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}