.producttopping{
    background-color: white;
    /* background-color: green; */
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.producttopping-s1{
    /* background-color: white; */
    padding: 15px 0px 15px 115px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1)
}
.producttopping-s1 h1{
     color:rgb(30, 57, 50);
     /* color: white; */
    font-size: 15px;
    font-weight: 600;
}
.producttopping-s1 p{
    color:rgba(30, 57, 50, 0.84);
     /* color: white; */
    font-size: 10px;
    font-weight: 400;
}