*{
    padding: 0;
    margin: 0;
    font-family:"Montserrat";
}
.worldcoffee{
    width: 100%;
    padding: 30px 0px;
    /* height:500px; */
    background-color: #EDEBE9;
    margin-bottom: 170px;
}
.worldcoffee-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 115px;
}
.worldcoffee-1 h1{
    font-size: 23px;
    font-weight: 600;
    color: rgb(30, 57, 50);
}
.worldcoffee-1 p{
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    color:rgb(0, 117, 74);
}
.worldcoffee-cont{
    padding:0px 125px;
    margin-top: 30px;
    
}
.worldcoffee-wrapper{
     position: relative;
}
.worldcoffee-cont img{
    /* border: 3px solid red; */
    filter: brightness(80%) saturate(110%);
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 370px;
    border-radius: 6px;
    cursor: pointer;
     transition: filter 0.6s ease;
     position: relative;
}
.worldcoffee-cont img:hover{
    filter: brightness(30%)  saturate(110%);
}
.worldcoffee-cont-1{
    position: absolute;
    top: 0;
}
.first-btn{
    margin-top: 18px;
    color:rgb(0, 153, 102);
    font-weight: 600;
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgb(230,237,235);
    padding: 4px 3px;
    border-radius: 4px;
    margin-left: 30px;  
}

.sec-btn{
    margin-left: 30px;  
    color:black;
    font-weight: 500;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 9px 74px;
    border-radius: 17px;
    margin-top: 40px;
}
.worldcoffee-cont-1 h1{
margin-left: 30px;  
margin-top: 180px;
font-size: 28px;
font-weight: 600;
color: rgb(255, 255, 255);
}
.worldcoffee-cont-1 p{
margin-left: 30px;      
margin-top: 13px;
font-size: 13px;
font-weight: 500;
color: rgb(255, 255, 255);
}